<form   [formGroup]="userCredentialForm" (ngSubmit)="createUser()" >

  <label for="username">
    User Name:
    <input type="text"  id="username" formControlName="username">
  </label>
  <br/>
  <br/>
  <label for="password">
    Password:
    <input type="password" id="password" formControlName="password">
  </label>
  <br/>
  <br/>
  <label for="accessright">
    User Rights:
    <input type="checkbox" name="accessright" formControlName="accessRights">
    <input type="checkbox" name="accessright" formControlName="accessRights">
    <input type="checkbox" name="accessright" formControlName="accessRights">
    <input type="checkbox" name="accessright" formControlName="accessRights">
  </label>
  <br/>
  <br/>
  <br/>
  <button type="submit">Create User</button>
</form>